.background-color {
    background: #D3E4D3;
}

.centered {
    text-align: center;
    margin-left: 5%;
    width: 90%;
}

.Room_Name {
    font-size: 24px;
    color: #000000;

}

#all_image {
    height: 267px;
}

#yellowbox {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 95%;
    background-color: #D3E4D3;
    vertical-align: middle;
    text-align: center;
    border: none solid #F4EACC;
}

#Details {
    vertical-align: bottom;
}

#T_Details {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#Room_DIV {
    width: 600px;
    height: 450px;
}

#Room_Detail {
    vertical-align: top;
}

#Rooms {
    width: 200px;
    height: 590px;
    overflow: auto;
    text-align: center;
}

#verticaldiv {
    vertical-align: middle;
}

#divdiv {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    margin-top: -250px;
}

img {
    border: none;
}

a:link, a:hover, a:active, a:visited {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    color: #000000;
}

#allroom_detail {
}

#main_table #table_image {
    border-right-width: medium;
    border-right-style: solid;
    border-right-color: #D3E4D3;
}

.mainContent {
    padding: 0 10px;
}