@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

}

@media (max-width: 767px) {
    .sidebar.hang-left {
        margin-left: 0;
        margin-right: 0;
    }
    .sidebar {
        margin-top: 30px;
    }
}

.sidebar-nav li.active a {
    font-size: 17px;
}

.sidebar-nav .navbar-brand {
    padding: 14px 0;
    cursor: pointer;
}

.sidebar-navbar-collapse {
    max-height: none;
}

.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}

@media (min-width: 768px) {
    .row.same-column-height{
        overflow: hidden;
    }

    .row.same-column-height > div[class*="col-"]{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}

.hang-left {
    margin-left: -15px;
    margin-right: 15px;
}

.rounded-bottom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 767px) {
    .rounded-top-xs {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .rounded-bottom-xs {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.pad-right {
    padding-right: 10px;
}

.pad-left {
    padding-left: 10px;
}

.pad-top {
    padding-top: 10px;
}

body {
    background-color: #F9F3E3;
    color: #000;
    padding: 15px;
}

h2.page-top,
h3.page-top {
    margin-top: 0px;
}

.carousel-inner .item .center {
    margin-left: auto;
    margin-right: auto;
}

.carousel.fixed-height {
    overflow: hidden;
    margin: 10px auto;
}

.carousel.fixed-height-medium {
    height: 300px;
    width: 400px;
}
.carousel.fixed-height-large {
    height: 375px;
    width: 500px;
}

.carousel-inner>.item>img {
    margin: 0 auto;
    max-width: none;
}

.fixed-height-medium .carousel-inner>.item>img {
    height: 300px;
}

.fixed-height-large .carousel-inner>.item>img {
    height: 375px;
}


@media (max-width: 767px) {
    .carousel.fixed-height {
        height: 195px;
        width: 260px;
    }

    .fixed-height .carousel-inner>.item>img {
        height: 195px;
    }
}

.header {
    font-family: Georgia,Lato,sans-serif;
}

.header .background-color {
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

a.color-midnight-blue,
a.color-midnight-blue:hover,
a.color-midnight-blue:active,
a.color-midnight-blue:visited,
.color-midnight-blue {
    color: #2C3E50;
}

a.color-black,
a.color-black:hover,
a.color-black:active,
a.color-black:visited,
.color-black {
    color: #000;
}

.header .image img {
    width: 100%;
    border-radius: 5px;
}

.header .phone {
    font-size: 45px;
    line-height: 55px;
    margin-top: 10px;
}

.header .email {
    font-size: 25px;
}

/* MD Header */
@media (max-width: 1200px) {
    .header .logo img {
        width: 450px;
    }

    .header .phone {
        font-size: 35px;
        line-height: 50px;
    }

    .header .rating {
        width: 68px;
    }
}

/* SM Header */
@media (max-width: 992px) {
    .header .logo img {
        width: 370px;
    }

    .header .phone {
        font-size: 30px;
        line-height: 35px;
    }

    .header .email {
        font-size: 20px;
    }

    .header .rating {
        width: 50px;
    }
}


/* XS Header */
@media (max-width: 768px) {
    .header .logo img {
        width: 250px;
    }

    .header .phone {
        font-size: 20px;
        line-height: 55px;
    }

    .header .email {
        font-size: 16px;
    }

    .header .rating {
        width: 50px;
    }
}

/* responsive iFrames. I hate myself */
#room_frame {
    width: 290px!important;
}
/* MD  */
@media (max-width: 1200px) {
    #room_frame {
        width: 230px!important;
    }
}

/* SM  */
@media (max-width: 992px) {
    #room_frame {
        width: 260px!important;
    }
}